@model ApplicationForm
<script type="text/javascript">
    $(window).on('load', function () {
        $('#exampleModalLong').modal('show');
    });

    function printApplication() {
        var win = window.open("", "blank", 'width=0,height=0');
        win.document.open();
        win.document.write("<html><body onload='window.print()'>" + $(".ApplicationDiv").html() + "</body></html>");
        win.document.close();
        win.close();
    }
    function printAcknowledgement() {
        var win = window.open("", "blank", 'width=0,height=0');
        win.document.open();
        win.document.write("<html><body onload='window.print()'>" + $(".Acknowledgement").html() + "</body></html>");
        win.document.close();
        win.close();
    }
</script>

<div class="noprint">
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <div class="col-lg-11">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    </div>
                    <div class="col-lg-1">
                        <a href="~/Admin/Admission" class="glyphicon glyphicon-remove"></a>
                    </div>
                </div>
                <div class="modal-body">
                    <h3>@ViewBag.msg</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="printApplication()" data-dismiss="modal">Print Application Form</button>
                    <button type="button" class="btn btn-primary" onclick="printAcknowledgement()">Print acknowledge</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ApplicationDiv" style="visibility: hidden">
    <table width="100%">
        <tr>
            <td>
                <img width="150" height="150" src="~/images/APJ_LOGO.jpg" />
            </td>
            <td style="white-space:inherit">
                <h1 style="text-align:center;color:red;font-size: 250%">APJ ABDUL KALAM <br />JUNIOR COLLEGE</h1>
                <h4 style="text-align:center">(Recog. by Govt. of T.S., affiliated to BIE)<br />BESIDE S.V.MODEL HIGH SCHOOL, MARKET ROAD, <br />SHAPUR NAGAR, IDA JEEDIMETLA,<br />HYDERABAD-055. PH : 040-6999 8859.<br /> Email : apjabdulkalamjrclg@gmail.com <br /> COLLEGE CODE:59343</h4>
            </td>
            <td>
                @*<img width="150" height="150" src="~/images/APJ_LOGO.jpg" />*@
                @*<img height="150" width="150" src="~/images/Photos/@Model.Photo" />*@
            </td>
        </tr>
    </table>
    <h1 style="text-align:center"><u>APPLICATION FORM</u></h1>
    <table width="100%">
        <tr>
            <td><h2>Application No</h2></td>
            <td><h2>:&emsp;&emsp;&emsp; </h2></td>
            <td colspan="1.5"><h2>@Model.ApplicationNo</h2></td>
        </tr>
        <tr>
            <td><h2>Date</h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.DateOfAdmission</h2></td>
        </tr>
        <tr>
            <td><h2>1. Name of The Student</h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.StudentName</h2></td>
        </tr>
        <tr>
            <td><h2>2. Father's/Guardian's Name </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.FatherName</h2></td>
        </tr>
        <tr>
            <td><h2>3. Mothers Name</h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.MotherName</h2></td>
        </tr>
        <tr>
            <td>
                <h2>4. Aadhar No  </h2>
            </td>
            <td><h2>:</h2></td>
            <td><h2>@Model.AadharNo</h2></td>
        </tr>
        <tr><td><h2>5. 10th Pass Type </h2></td><td><h2>:</h2></td><td><h2>@Model.SchoolEducation</h2></td></tr>
        <tr>
            <td><h2>6. Hall Ticket No </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.HallTicketNo</h2></td>
        </tr>
        <tr>
            <td><h2>7. GPA / GRADE / Obtained</h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.GradePoint</h2></td>
        </tr>
        <tr>
            <td><h2>9. Date of Birth as per SSC </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.DOB</h2></td>
        </tr>
        <tr>
            <td><h2>10. Identification Marks 1. </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.IdentificationMarks1</h2></td>
        </tr>
        <tr>
            <td><h2>11. Identification Marks 2. </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.IdentificationMarks2</h2></td>
        </tr>
        <tr>
            <td><h2>12. Name of the School</h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.SchoolName</h2></td>
        </tr>
        <tr>
            <td><h2>13. School Address</h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.SchoolAddress</h2></td>
        </tr>
        <tr>
            <td><h2>14. Course Preferred </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.CoursePreferred</h2></td>
        </tr>
        <tr>
            <td><h2>15. Mediun of Instruction</h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.Medium</h2></td>
        </tr>
        <tr>
            <td><h2>16. Language  </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.Language</h2></td>
        </tr>
        <tr>
            <td><h2>17. Religion  </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.Religion</h2></td>
        </tr>
        <tr>
            <td><h2>18. Caste  </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.Caste</h2></td>
        </tr>
        <tr>
            <td><h2>19. Sub Caste </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.SubCaste</h2></td>
        </tr>
        <tr>
            <td><h2>20. Mother Toungue</h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.MotherName</h2></td>
        </tr>
        <tr>
            <td><h2>21. FirstYearFee  </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.FirstYearFee</h2></td>
        </tr>
        <tr>
            <td><h2>22. SecondYearFee </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.SecondYearFee</h2></td>
        </tr>
        <tr>
            <td><h2>23. ParentOccupation </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.ParentOccupation</h2></td>
        </tr>
        <tr>
            <td><h2>24. Address For Correspondence  </h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.StudentAddress</h2></td>
        </tr>
        <tr>
            <td><h2>25. Contact Number</h2></td>
            <td><h2>:</h2></td>
            <td><h2>@Model.ContactNo</h2></td>
        </tr>
    </table>
</div>
<div class="Acknowledgement" style="visibility: hidden">
    <div class="AcknowledgementDiv">
        <table width="100%">
            <tr>
                <td>
                    <img width="150" height="150" src="~/images/APJ_LOGO.jpg" />
                </td>
                <td style="white-space:inherit">
                    <h1 style="text-align:center;color:red;font-size: 250%">APJ ABDUL KALAM <br />JUNIOR COLLEGE</h1>
                    <h4 style="text-align:center">(Recog. by Govt. of T.S., affiliated to BIE)<br />BESIDE S.V.MODEL HIGH SCHOOL, MARKET ROAD, SHAPUR NAGAR,<br /> IDA JEEDIMETLA, HYDERABAD-055. PH : 040-6999 8859.<br /> Email : apjabdulkalamjrclg@gmail.com, COLLEGE CODE:59343</h4>
                </td>

            </tr>
        </table>
        <table width="100%">
            <tr>
                <td><h2>Date</h2></td>
                <td><h2>:&emsp;&emsp;&emsp;</h2></td>
                <td><h2>@Model.DateOfAdmission</h2></td>
            </tr>
            <tr>
                <td><h2>Student Name</h2></td>
                <td><h2>:</h2></td>
                <td><h2>@Model.StudentName</h2></td>
            </tr>
            <tr>
                <td><h2>Father Name</h2></td>
                <td><h2>:</h2></td>
                <td><h2>@Model.FatherName</h2></td>
            </tr>
            <tr>
                <td><h2>Course Details</h2></td>
                <td><h2>:</h2></td>
                <td><h2>@Model.CoursePreferred</h2></td>
            </tr>
            <tr>
                <td><h2>First Year Fee</h2></td>
                <td><h2>:</h2></td>
                <td><h2>@Model.FirstYearFee</h2></td>
            </tr>
            <tr>
                <td><h2>Second Year Fee</h2></td>
                <td><h2>:</h2></td>
                <td><h2>@Model.SecondYearFee</h2></td>
            </tr>
            @*<tr>
                    <td><h2>Amount Paid </h2></td>
                    <td><h2>:</h2></td>
                    <td><h2></h2></td>
                </tr>
                <tr>
                    <td><h2>Amount Paid In Words </h2></td>
                    <td><h2>:</h2></td>
                    <td><h2></h2></td>
                </tr>
            *@
            <tr>
                <td><h2>Emp.Code </h2></td>
                <td><h2>:</h2></td>
                <td><h2></h2></td>
            </tr>
            <tr>
                <td><h2>Mobile No</h2></td>
                <td><h2>:</h2></td>
                <td><h2>@Model.MobileNo</h2></td>
            </tr>
            <tr>
                <td><h2>Student Signature</h2></td>
                <td><h2>:</h2></td>
                <td><h2></h2></td>
            </tr>
            <tr>
                <td><h2>Parent Signature</h2></td>
                <td><h2>:</h2></td>
                <td><h2></h2></td>
            </tr>
            <tr>
                <td><h2>Emp.Signature</h2></td>
                <td><h2>:</h2></td>
                <td><h2></h2></td>
            </tr>
        </table>
    </div>
</div>
