@using WebApplication.Areas.Admin.Models
@using System.Collections.Generic
@model IEnumerable<ApplicationForm>

<link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/js/moment.js"></script>
<script src="~/js/bootstrap-datetimepicker.js"></script>
<script>
    $(function () {
        $('.date').datetimepicker(
            { format: 'DD-MM-YYYY' })
    });
</script>

@using (Html.BeginForm("ShowAllStudents", "Admission"))
{
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">Delete Student</div>

        <div class="panel-body">
            <div class="table">
                <div class="row">
                    <div class='col-sm-12'>
                        <br />
                        <label>Date Of Admission</label>
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                @Html.TextBox("date", null, new { @class = "form-control" })
                                @*<input type="date" class="form-control glyphicon glyphicon-calendar" name="date">*@
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-9'>
                        <button type="submit" name="submitbtn" id="submitbtn" value="Search" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<br />

<table class="table">
    <tr>
        <th>Application No</th>
        <th>Student Name</th>
        <th>Father Name</th>
        <th>Date Of Admission</th>
        <th>Aadhar No</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.ApplicationNo</td>
            <td>@student.StudentName</td>
            <td>@student.FatherName</td>
            <td>@student.DateOfAdmission</td>
            <td>@student.AadharNo</td>
        </tr>
    }
</table>

@(ViewBag.PagerCurrentPage + 2)

<!-- pager -->
@if (ViewBag.Pager.EndPage > 1)
{
    <ul class="pagination">
        @if (ViewBag.Pager.CurrentPage > 1)
        {
            <li>
                
                @if (ViewBag.SelectedDate != null)
                {                    
                    <a href="ShowAllStudents?date=@ViewBag.SelectedDate">First</a>
                }
                else
                {
                    <a href="ShowAllStudents">First</a>                    
                }
            </li>
            <li>
                @if (ViewBag.SelectedDate != null)
                {
                    <a href="ShowAllStudents?date=@ViewBag.SelectedDate&&page=@(ViewBag.Pager.CurrentPage - 1)">Previous</a>
                }
                else
                {
                    <a href="ShowAllStudents?page=@(ViewBag.Pager.CurrentPage - 1)">Previous</a>
                }
            </li>
        }

        @for (var page = ViewBag.Pager.CurrentPage; page <= ViewBag.Pager.EndPage; page++)
        {
            <li class="@(page == ViewBag.Pager.CurrentPage ? "active" : "")">
                @if (ViewBag.SelectedDate != null)
                {                   
                    <a href="ShowAllStudents?date=@ViewBag.SelectedDate&&page=@page">@page</a>
                }
                else
                {
                    <a href="ShowAllStudents?page=@page">@page</a>                  
                }
            </li>
        }

        @if (ViewBag.Pager.CurrentPage < ViewBag.Pager.TotalPages)
        {
            <li>
                @if (ViewBag.SelectedDate != null)
                {
                    <a href="ShowAllStudents?date=@ViewBag.SelectedDate&&page=@(ViewBag.Pager.CurrentPage + 1)">Next</a>
                }
                else
                {
                    <a href="ShowAllStudents?page=@(ViewBag.Pager.CurrentPage + 1)">Next</a>
                }              
            </li>
            <li>
                <a href="ShowAllStudents?page=@(ViewBag.Pager.TotalPages)">Last</a>
            </li>
        }
    </ul>
}





